<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ReelFinder</title>
</head>
<body>




{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Trending Movies</h2>
        <div class="movie-grid">
            {% for movie in movies %}
            <div class="movie-card">
                <img src="{{ movie.image }}" alt="{{ movie.title }}">
                <button onclick="location.href='rate.html', movie_id=movie.id">Rate This Movie</button>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>